# Configuración de Entorno de Capital.com (DEMO o LIVE)
CAPITAL_COM_ENVIRONMENT=DEMO

# Credenciales de Capital.com
CAPITAL_COM_API_KEY=tu_api_key_aqui
CAPITAL_COM_IDENTIFIER=tu_usuario_aqui
CAPITAL_COM_PASSWORD=tu_contrasena_aqui
