# Configuración de Entorno de Capital.com (DEMO o LIVE)
CAPITAL_COM_ENVIRONMENT=DEMO

# Credenciales de Capital.com
CAPITAL_COM_API_KEY=XUWhiWAOeOlYeGGP
CAPITAL_COM_IDENTIFIER=kp4892906@gmail.com
CAPITAL_COM_PASSWORD=Kp4892906@
